.cta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 9rem;
  background: #181818;
  & > * {
    margin: 1rem;
  }
  &__text {
    font-family: 'Roboto', sans-serif;
    color: white;
  }
}
