/**
 * <button /> component style
 *
 */
button {}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
  color: white;
  height: 2.5rem;
  padding: 1rem;
  border-radius: 7px;
  background-color: #f7a072;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: #F8B876;
  }

  strong{ 
    margin-left: .45rem;
  }

}
