.blog {
  main {
    background-color: #F5F8F9;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}

.post__content {
  margin-top: 20px!important;
  line-height: 1.6!important;
  font-size: 1em!important;
  font-family: Roboto!important;
  color: #444a59!important;
}
